html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 0.5rem;
  background: #37BEE8;

}

header h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

.currency-selector {
  background: #ddd;
  padding: 0.5rem;
}

.product-wrapper, .cart-wrapper {
  padding: 1rem;
}